.jumbotron {
    padding-top: 6rem;
    background-color: #273036;
}

#favorite {
    background-color: #273036;
}

section {
    padding-top: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}